body{
    width: 100%;
    height: 100%;
    background: #f2f2f2;
}
#box{
    width: 400px;
}
/* 头部 */
.main{
    min-height: 427px;
    background: #fff;
    cursor: pointer;
}
.content{
    width: 390px;
    margin: 0 auto;
}
.main_top{
    line-height: 45px;
    height: 45px;
    background: #f7faf9
}
.top_left{
    float: left;
}
.top_left span{
    margin-top: 13px;
    margin-right: 16px;
    display: block;
    float: left;
    width: 5px;
    height: 20px;
    background: #69a88f;
}
.top_left b{
    font-size: 18px;
    color: #69a88f;
}
.top_right{
    float: right;
position: relative;
}
.top_right a:nth-child(1){
    margin-right: 28px;
    font-size: 14px;
    color: #999999;
}
.top_right a:nth-child(2){
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 10px;
}
.top_right img{
    display: block;
}
/* banner */
.banner{
    margin-top: 15px;
}
.banner a img{
    display: block;
    width: 350px;
    height: 150px;
    margin-left: 20px;
}
/* 文字 */
.main_main{
    margin-left: 20px;
    width: 350px;
    margin-top: 16px;
    text-align: center;
}
.main_main h3{
    font-size: 18px;
    color: #000000;
}
.main_main p{
    color: #999999;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin-top: 9px;
}
/* 图 */
.main_img{
    margin-top:40px;
}
.main_img img{
    margin-left: 20px;
    display: inline-block;
    width: 96px;
    height: 86px;
}
/* 左右箭头 */
#jt-left{
    height: 64px;
    left: 5px;
    background: url(../images/1left.png) no-repeat;
}
#jt-right{
    height: 64px;
    right: 5px;
    background: url(../images/1right.png) no-repeat;
}